<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>

  <!-- Default settings. Each key matches a command-line option's long name; command-line
       arguments override these. For example:
  <appSettings>
    <add key="ignore-case" value="false" />
    <add key="encoding" value="utf8" />
  </appSettings>
  -->
</configuration>
